const BASE_URL = 'localhost:8000/foo';

export default {
  BASE_URL: BASE_URL,
  LOGIN_URL: `${BASE_URL}token`,
  SIGNUP_URL: `${BASE_URL}users`,
  LOGIN_USER: 'LOGIN_USER',
  LOGOUT_USER: 'LOGOUT_USER'
};
